{% extends 'back.html.twig' %}

{% block title %}Édition du ticket {{ ticket.id }}{% endblock %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <h1 class="h3 mb-0 text-gray-200"><i class="fas fa-exclamation-circle fa-fw text-gray-400"></i> Édition du ticket {{ ticket.id }}</h1>

        <div class="d-sm-inline-block">
            <a href="{{ path('agenda.ticket.index') }}" class="btn btn-sm btn-secondary shadow-sm">
                <i class="fas fa-reply fa-sm text-white-50"></i>
            </a>
        </div>
    </div>

    {# Fil d'Ariane #}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('agenda.ticket.index') }}">Tickets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Édition du ticket {{ ticket.id }}</li>
        </ol>
    </nav>

    <hr>

    {# Ticket #}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="h6 m-0 font-weight-bold text-light">Ticket</div>
        </div>
        <div class="card-body">
            <form id="form-ticket-edit" action="#" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Motif</label>
                    <input id="title" name="title" type="text" class="form-control" value="{{ ticket.title }}" required>
                </div>

                <div class="form-group">
                    <label for="input-content">Commentaire</label>
                    <textarea id="input-content" name="content" class="form-control" rows="3">{{ ticket.content }}</textarea>
                </div>

                <div class="form-group">
                    <label for="etat">État</label>
                    <select class="form-control form-control-sm" id="etat" name="etat">
                        {% for etat in etats %}
                            <option value="{{ etat.id }}" {% if ticket.etat == etat %}selected="selected"{% endif %}>{{ etat }}</option>
                        {% endfor %}
                    </select>
                </div>

                <hr>

                <div class="input-group">
                    <button class="btn btn-sm btn-success" type="submit">
                        <i class="far fa-save"></i>&nbsp;Enregistrer
                    </button>
                </div>

            </form>
        </div>
    </div>

    {# Interventions #}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="h6 m-0 font-weight-bold text-light">Interventions</div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>todo</th>
                        <th style="width:170px;">Action</th>
                    </tr>
                    </thead>
                        {% for ligne in interventions %}
                            <tr class="sortable-row" id="{{ ligne.id }}">
                                <td>
                                    todo
                                </td>
                                <td>
                                    <a style="cursor:pointer;" data-ligne="{{ ligne.id }}" class="ligne-delete btn btn-sm btn-dark text-danger" title="Supprimer cette ligne" >
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        CKEDITOR.replace('input-content', {
            toolbar: [ ['Bold', 'Italic', 'Underline', '-', 'NumberedList', 'BulletedList', '-', 'Table', '-', 'Maximize'] ]
        });
    </script>
{% endblock %}