{% extends 'back.html.twig' %}

{% block title "Calendrier" %}

{% block stylesheets %}
    <link href='{{ asset('assets/fullcalendar/packages/core/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('assets/fullcalendar/packages/daygrid/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('assets/fullcalendar/packages/timegrid/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('assets/fullcalendar/packages/list/main.css') }}' rel='stylesheet' />
{% endblock %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-200"><i class="far fa-calendar-alt"></i><span> Calendrier</h1>
        <div class="d-sm-inline-block">
            <form action="#" method="post" class="d-inline-block">
                <div class="input-group">
                    <select class="form-control form-control-sm" name="user" onChange="submit()">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

        </div>
    </div>

    <hr>

    <div id='calendar'></div>

    {# Fenêtre modale pour l'ajout #}
    <div class="modal fade" id="ModalEventAdd" tabindex="-1" role="dialog" aria-labelledby="ModalEventAddLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="form-event-add" method="POST" action="#" autocomplete="off">
                    <div class="modal-header">
                        <div id="ModalEventAddTitle" class="h6 modal-title"></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Intitulé</label>
                            <input type="text" class="form-control form-control-sm" id="title" name="title">
                        </div>
                        <input type="hidden" id="start" name="start" class="form-control">
                        <input type="hidden" id="end" name="end" class="form-control">
                        <div class="form-group">
                            <label for="event-add-users">Collaborateurs concernés</label>
                            {% for user in users %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ user.email }}" id="event-add-users-{{ user.id }}" name="event-add-users[]">
                                    <label class="form-check-label" for="event-add-users-{{ user.id }}">
                                        {{ user.firstname }} {{ user.lastname|upper }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success"><i class="far fa-save"></i> Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Fenêtre modale pour l'édition #}
    <div class="modal fade" id="ModalEventEdit" tabindex="-1" role="dialog" aria-labelledby="ModalEventEditLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="form-event-edit" method="POST" action="#" autocomplete="off">
                    <div class="modal-header">
                        <div id="ModalEventEditTitle" class="h6 modal-title"></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="event-edit-title">Intitulé</label>
                            <input type="text" class="form-control form-control-sm" id="event-edit-title" name="event-edit-title">
                        </div>
                        <input type="hidden" id="event-edit-id" name="event-edit-id" class="form-control">
                        <input type="hidden" id="event-edit-start" name="event-edit-start" class="form-control">
                        <input type="hidden" id="event-edit-end" name="event-edit-end" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-danger" value="delete">
                            <i class="fas fa-trash"></i> Supprimer
                        </button>
                        <button type="submit" class="btn btn-sm btn-success" value="save">
                            <i class="far fa-save"></i> Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/fullcalendar/packages/core/main.js') }}"></script>
    <script src="{{ asset('assets/fullcalendar/packages/interaction/main.js') }}"></script>
    <script src="{{ asset('assets/fullcalendar/packages/daygrid/main.js') }}"></script>
    <script src="{{ asset('assets/fullcalendar/packages/timegrid/main.js') }}"></script>
    <script src="{{ asset('assets/fullcalendar/packages/list/main.js') }}"></script>
    <script src="{{ asset('assets/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/moment/moment-timezone.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                timeZone: 'UTC',
                plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                defaultView: 'timeGridWeek',
                defaultDate: '{{ "now"|date("Y-m-d") }}',
                selectable:true,
                selectHelper:true,
                editable: true,
                events: {
                    url: "{{ path('agenda.events.load') }}",
                },
                select: function(event) {
                    let start = event.startStr;
                    let end = event.endStr;
                    let start_title = moment.tz(start, "Europe/Paris").format('D/MM/Y HH:mm:ss');
                    let end_title = moment.tz(end, "Europe/Paris").format('D/MM/Y HH:mm:ss');
                    $('#ModalEventAdd #title').val('');
                    $('#ModalEventAdd #start').val(start);
                    $('#ModalEventAdd #end').val(end);
                    $('#ModalEventAdd #ModalEventAddTitle').text(start_title + ' à ' + end_title);
                    $('#ModalEventAdd').modal('show');
                },
                eventResize:function(info)
                {
                    let start = info.event.start.toISOString();
                    let end = info.event.end.toISOString();
                    let title = info.event.title;
                    let id = info.event.id;
                    $.ajax({
                        url:"{{ path('agenda.events.resize') }}",
                        type:"POST",
                        data:{title:title, start:start, end:end, id:id},
                        success:function(){
                            calendar.refetchEvents();
                        }
                    })
                },
                eventDrop:function(info)
                {
                    let start = info.event.start.toISOString();
                    let end = info.event.end.toISOString();
                    let title = info.event.title;
                    let id = info.event.id;
                    $.ajax({
                        url:"{{ path('agenda.events.drop') }}",
                        type:"POST",
                        data:{title:title, start:start, end:end, id:id},
                        success:function(){
                            calendar.refetchEvents();
                        }
                    })
                },
                eventClick:function(info)
                {
                    let id = info.event.id;
                    let title = info.event.title;
                    let start = info.event.start.toISOString();
                    let end = info.event.end.toISOString();
                    let start_title = moment.tz(start, "Europe/Paris").format('D/MM/Y HH:mm:ss');
                    let end_title = moment.tz(end, "Europe/Paris").format('D/MM/Y HH:mm:ss');
                    $('#ModalEventEdit #event-edit-id').val(id);
                    $('#ModalEventEdit #event-edit-title').val(title);
                    $('#ModalEventEdit #event-edit-start').val(start);
                    $('#ModalEventEdit #event-edit-end').val(end);
                    $('#ModalEventEdit #ModalEventEditTitle').text(start_title + ' à ' + end_title);
                    $('#ModalEventEdit').modal('show');
                }
            });
            calendar.render();

            $("#form-event-add").submit(function(e) {
                e.preventDefault();
                let form = $(this);
                $.ajax({
                    type: "POST",
                    url: "{{ path('agenda.events.add') }}",
                    data: form.serialize(),
                    success: function()
                    {
                        calendar.refetchEvents();
                        $('#ModalEventAdd').modal('hide');
                    }
                });
            });

            $("#form-event-edit").submit(function(e) {
                e.preventDefault();
                let method = document.activeElement.getAttribute('value');
                let form = $(this);
                if(method == 'delete'){
                    $.ajax({
                        type: "POST",
                        url: "{{ path('agenda.events.delete') }}",
                        data: form.serialize(),
                        success: function()
                        {
                            calendar.refetchEvents();
                            $('#ModalEventEdit').modal('hide');
                        }
                    });
                }else{
                    $.ajax({
                        url:"{{ path('agenda.events.edit') }}",
                        type:"POST",
                        data: form.serialize(),
                        success:function(){
                            calendar.refetchEvents();
                            $('#ModalEventEdit').modal('hide');
                        }
                    })
                }
            });
        });
    </script>
{% endblock %}